# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Flask specific
instance/
.webassets-cache

# IDEs and Editors (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
.DS_Store
